---
import { HomePageSEO } from "@/lib/queries";

const {favicon, keywords, metaDescription, metaImage, metaTitle} = await HomePageSEO();

// console.log(favicon, keywords, metaDescription, metaImage.url, metaTitle);

export const prerender = false
---

<meta charset="UTF-8" />
<meta name="description" content={metaDescription}>
<meta name="robots" content="instrucción1,instrucción2">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

<meta
  name="keywords"
  content={keywords}
/>


<meta property="og:type" content="website" />
<meta property="og:title" content={metaTitle} />
<meta
  property="og:description"
  content={metaDescription}
/>
<meta property="og:image" content={metaImage.url} />
<!-- <meta property="og:url" content="https://example.com" /> -->
<link rel="icon" type="image/svg+xml" href={favicon.url}/>

<title>{metaTitle}</title>
