---
import { HomePageSEO } from "@/lib/queries";
import {STRAPI_URL} from 'astro:env/server'



const {seo, favicon} = await HomePageSEO();
export const prerender = false


---

<meta charset="UTF-8" />
<meta name="robots" content="instrucción1,instrucción2">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />



<meta name="title" content={seo.metaTitle}>
<meta name="description" content={seo.metaDescription}>
<meta
  name="keywords"
  content={seo.keywords}
/>
<!-- <link rel="canonical" href="https://ejemplo.com"> -->






<meta property="og:type" content="website" />
<!-- <meta property="og:url" content={social.url} /> -->
<!-- <meta property="og:site_name" content={social.siteName} /> -->
<meta property="og:locale" content="es" />




{seo.metaSocial.map((social) => (
  <>
    <meta property={`${social.socialNetwork}:title`} content={social.title} />
    <meta property={`${social.socialNetwork}:description`} content={social.description} />
    <meta property={`${social.socialNetwork}:image`} content={`${STRAPI_URL}${social.image.url}`} />
  </>
))}


<!-- <meta property="og:url" content="https://example.com" /> -->
<link rel="icon" type="image/svg+xml" href={favicon.url}/>

<title>{seo.metaTitle}</title>

